lib/000-private.zsh
private/
nvim/.netrwhist
nvim/autoload/plug.vim.old
nvim/plugged
home/urlwatch/cache.db
nvim/autoload/gocomplete.vim
nvim/ftplugin/go/gocomplete.vim
.claude/settings.local.json
.claude/plans/
.brew-outdated
.pip-outdated
